.env
*.pyc
.sass-cache
.DS_Store
*.swp
*.sqlite3
/docker-compose.yml
/env/
/venv/
/static/
/media/
/tmp/
/.keys/
/.vagrant/
/Vagrantfile.local
/docs/_build/
/node_modules/
/publichealth/static/libs/
/mockup/assets/css/*.css
