{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

  {% include 'header.html' %}

  <!-- Main content -->
  <div class="container" role="main">

    <div class="jumbotron">
      <h1>{% include_block self.title %}</h1>
    </div>

    {% for block in self.body %}
    <section>
      <h3>{% include_block heading %}</h3>
      <span style="float:left">{% include_block image %}</span>
      <p>{% include_block paragraph %}</p>
    </section>
    {% endfor %}

  </div>

{% endblock %}
