{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

  {% include 'header.html' %}

  <!-- Main content -->
  <div id="banner-wrapper">
    <div id="banner" class="box container">
      <div class="row">
        <div class="7u 12u(medium)">
          {% include_block self.body %}
        </div>
        <div class="5u 12u(medium)">
          <ul>
            <li><a href="#" class="button big icon fa-arrow-circle-right">Ok let's go</a></li>
            <li><a href="#" class="button alt big icon fa-question-circle">More info</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
