// Article sections
section {
  padding: 3em 0;

  &:nth-child(odd) {
    background-color: $gray-lighter;
    color: black;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }
}

.article-body {
  h2 { font-size: 35px; }
  h3 { font-size: 30px; }
  h4 { font-size: 25px; }
  h5 { font-size: 22px; }

  line-height: 1.5;

  img.full-width {
    width: 100%;
  }
}

// Article content blocks
.article-body > div {
  clear: both;
}
.infoblocks {
  .image img {
    width: 300px; height: 300px;
  }
  article:nth-child(3n+1) {
    clear: left;
  }
}

// Article index blocks
.article-subcategories article {
  margin-bottom: 1.5em;
}

// Special article layout
.article-page .lead {
  h2,h3,h4,h5 { text-align: center; }
}

// Responsive image/video classes
.rich-text img {
    max-width: 100%;
    height: auto;
}
.richtext-image.left{
    float:left;
}
.richtext-image.right{
    float:right;
}
.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
