footer#footer {
  padding: 6em 0;
  background-color: $brand-secondary;

  color: white;

  a {
    color: lighten($brand-primary, 10%);
  }
}

.copyright {
  background-color: darken($brand-secondary, 15%);
  color: white;
  text-align: center;
  font-size: 70%;
}
