// Contact page
#contact-page {

  form {
    label {
      width: 15em;
      border-bottom: 1px dashed #ccc;
      line-height: 166%;
      vertical-align: top;
    }
    label:only-child {
      width: auto;
      border: none;
    }
    &> p label {
      font-weight: bold;
    }
    ul {
      list-style: none;
      label { width: auto; }
    }
    .helptext {
      margin-bottom: 1em;
      display: block;
      font-size: 90%;
    }
  }

}

// Footer search form
#search-form {

  input {
    float: left;
    width: auto;
    color: white;
  }
  button {
    background: none; border: none;
    padding-top: 0.5em;
  }

}
