.navbar-default {
  .navbar-header {
    .navbar-brand {
      text-transform: uppercase;

      img {
        display: inline;
        width: auto;
        height: 28px;
        margin-top: -5px;
      }
    }
  }
}
