
// News overview
#news {
  .panel-default {
    font-size: 90%;
    .panel-header img {
      max-width: 100%;
    }
    a {
      font-size: 80%;
    }
  }
}

// News detail article
#news-details {
  .category {
    margin-top: 2em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    border-bottom: 1px solid $text-color;
  }
  .date {
    color: lighten($text-color, 20%);
    font-size: 90%;
    text-transform: uppercase;
    margin-bottom: .5em;
  }
  hr {
    margin-left: 0;
    width: 100px;
  }
  .author {
    color: lighten($text-color, 20%);
    font-size: 90%;
    text-transform: uppercase;
    font-style: italic;
  }
  .backlink {
    margin-top: 3em; 
  }
}
