
// News overview
#news {

  .panel-default {
    position: relative;
    font-size: 90%;
    transition: transform .6s;

    &:hover {
      transform: scale(1.05);
    }

    .panel-header img {
      max-width: 100%;
    }
    .panel-body {
      a {
        position: relative;
        font-size: 80%;
        z-index: 2;
      }
    }
    .panel-footer {
      font-size: 80%;
      text-transform: uppercase;
      color: lighten($text-color, 10%);
    }
    a.fill {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

  }
}

// News detail article
#news-details {
  background: white;
  .category {
    margin-top: 2em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    span {
      border-bottom: 1px solid $text-color;
    }
  }
  .date {
    color: lighten($text-color, 20%);
    font-size: 90%;
    text-transform: uppercase;
    margin-bottom: .5em;
  }
  hr {
    margin-left: 0;
    width: 100px;
  }
  .author {
    color: lighten($text-color, 20%);
    font-size: 90%;
    text-transform: uppercase;
    font-style: italic;
  }
  .backlink {
    margin-top: 3em;
  }
}
