{% load wagtailcore_tags %}
<form action="{% pageurl form %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input name="name" id="id_name" type="text" placeholder="Name / Nom" class="form-control" required>
  </div>
  <div class="form-group">
    <input name="email" id="id_email" type="email" placeholder="E-Mail" class="form-control" required>
  </div>
  <div class="form-group">
    <textarea name="message" id="id_message" rows="3" placeholder="Nachricht / Message" class="form-control" required></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Senden / Envoi</button>
</form>
