@charset 'utf-8';

@import 'paper/variables';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'paper/bootswatch';


/* Page header */

#banner {
  background: url(../org/public-health-bg.png) no-repeat top left;
  background-size: cover;
  font-size: 0px;
  display: block;
  width: 450px;
  height: 140px;
  color: transparent;
  text-indent: -9999px;
}

/* Responsive image/video classes */
.rich-text img {
    max-width: 100%;
    height: auto;
}
.richtext-image.left{
    float:left;
}
.richtext-image.right{
    float:right;
}
.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
