{% load wagtailcore_tags navigation information %}
{% get_site_root as site_root %}

<!-- Footer -->
<footer id="footer">
<div class="container">
<div class="row">
	<div class="col-md-4">
		<!-- Bottom Menu -->
		{% footer_menu parent=site_root calling_page=self %}

		<!-- Search form -->
		<form action="/search/" method="get" id="search-form">
			<input type="text" name="query" value="" class="form-control">
			<button type="submit" title="Search">
				<span class="glyphicon glyphicon-search" aria-hidden="false"></span>
			</button>
		</form>
	</div>

	<a name="contact-info"></a>
	<div class="col-md-8" id="contact-info">
		{% contact_info %}
	</div>
<!--
	<div class="col-md-4" id="contact-form">
		{# contact_form #}
	</div>
-->
</div><!-- /row -->
</div><!-- /container -->
</footer>

<div class="copyright">
	&copy; 2017 Public Health Schweiz
</div>
