{% load wagtailcore_tags navigation %}

<nav class="navbar-pre navbar-fixed-top">
  <div class="container">
      <div class="nav">
        <span class="contact-nav">
          <a class="link" href="#contact">Kontakt</a>
          <a href="tel:+41313899286">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span class="hidden-xs">+41 31 389 92 86</span></a>
          <a href="mailto:info@public-health.ch">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="hidden-xs">info@public-health.ch</span></a>
        </span>
        <span class="language-nav">
          {% language_switcher %}
        </span>
      </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-main navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/de/home"><img src="/static/images/public-health-logo-sign.png" alt="[logo]">
        <span class="hidden-xs"><strong>Public Health</strong> Schweiz</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Über uns <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Mitglied werden</a></li>
          <li><a href="#">Informationen zu Public Health</a></li>
          <li><a href="#">Stellenangebote</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Migliederversammlung</a></li>
          <li><a href="#">Fachrat</a></li>
          <li><a href="#">Vorstand</a></li>
          <li><a href="#">Fachgruppen</a></li>
          <li><a href="#">Geschäftsstelle</a></li>
          <li><a href="#">Grundlagedokumente</a></li>
          <li><a href="#">Jahresberichte</a></li>
          <li><a href="#">Archiv</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </li>
        <li><a href="#">News</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Projekte</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
