{% load static wagtailcore_tags navigation information %}
{% get_site_root as site_root %}

<nav class="navbar-pre navbar-fixed-top">
  <div class="container">
      <div class="nav">
        <span class="contact-nav">
          <a class="link" href="#contact-info" title="Contact">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </a>
          {% contact_links %}
        </span>
        <span class="language-nav">
          {% language_switcher %}
        </span>
      </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-main navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="{% pageurl site_root %}">
        <img src="{% static 'images/public-health-logo-sign.png' %}" alt="[logo]">
        <span class="hidden-xs">{% contact_name %}</span></a>
    </div>

    {% block menu %}
      <!-- Top Menu -->
      {% top_menu parent=site_root calling_page=self %}
    {% endblock %}
  </div>
  <!-- /.container -->
</nav>
