{% load wagtailcore_tags %}

<div id="carousel-banner" class="slide">
	<div class="carousel-inner slick" role="listbox">
        {% for entry in articles %}
		<div class="item">
			<image style="background-image:url({{ entry.feed_image.src }})" />
			<div class="carousel-caption">
				<h3>{{ entry.trans_title }}</h3>
				<p>{{ entry.trans_intro|richtext }}</p>
			</div>
		</div>
        {% endfor %}
	</div>
</div><!-- /carousel-banner -->

<section id="banner">
	<div class="container">
		<footer class="container">
			<p class="lead">
				{{ page.trans_intro|richtext }}
			</p>
		</footer>
	</div>
</section><!-- /banner -->
