{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<section id="contact-page">
  <div class="container">

    <h2>{{ page.title }}</h2>

    <p class="lead">{{ page.intro|richtext }}</p>

    <!-- Main content -->
    <div class="article-body" role="main">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Senden / Envoi</button>
      </form>
    </div>

    <script language="JavaScript">
    window.addEventListener('load', function() {
      $('span.helptext').each(function() {
        $(this).insertBefore( $(this).prev() );
      });
    });
    </script>
  </div>
</section>
{% endblock %}
